@font-face {
	font-family: "Helvetica";
	src: url("/src/assets/fonts/Helvetica.ttf");
}
@font-face {
	font-family: "Helvetica Bold";
	src: url("/src/assets/fonts/Helvetica-Bold.ttf");
}

::-moz-selection {
	background: #d387a5;
	color: #fff;
}

::-selection {
	background: #d387a5;
	color: #fff;
}

:root {
	--desktop-padding: 1.2rem;
	--text-z-index: 10;
	--dark-blue: #142340;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	-ms-overflow-style: none;
	scrollbar-width: none;
	scroll-snap-type: y mandatory;
	scroll-snap-stop: always;
	scroll-behavior: smooth;
}

body {
	font-family: "Helvetica", sans-serif;
	min-height: 100dvh;
}

body::-webkit-scrollbar {
	display: none;
}

h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}
